
torch
torchvision
opencv-python
numpy
tqdm
pathlib
torchsummary
tensorboardX
albumentations
argparse
plyfile
pyyaml==5.4.1
datetime
matplotlib==3.2
tensorflow
tqdm
torchsummary
torch
tensorboardX
albumentations==0.4.0
torchvision
tensorflow-gpu